.mapContainer {
  margin: 1rem auto;
  height: 90vh;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tooltip {
  top: -5px;
  color: #fff;
  padding: 1px;
  border: 0;

  &::before {
    display: none;
  }
}

.village {
  background-color: var(--village-colour);
}

.town {
  background-color: var(--town-colour);
}

.city {
  background-color: var(--city-colour);
}

.mountain {
  background-color: var(--mountain-colour);
}

.poi {
  background-color: var(--poi-colour);
}